.git
.gitignore
.env
.env.*
!*.env.example
backend/.env
backend/.env.*
!backend/.env.example
frontend/node_modules
frontend/.next
frontend/.env
frontend/.env.*
!frontend/.env.example
data
**/__pycache__
**/*.pyc
*.log
